.input-field {
  width: 20rem;
  position: relative;
  left: 10%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  &__label {
    font-size: 1.3rem;
  }

  &__input {
    width: 20rem;
    font-size: 1.1rem;
  }
}
